<mat-card class="habsburg-card">
  <table class="foobar">
    <tr>
      <td>
        <mat-card-header>
          <div mat-card-avatar class="habsburg-icon"></div>
          <mat-card-title>{{habsburg.first_name}} {{habsburg.ordinal_number}}</mat-card-title>
          <mat-card-subtitle>{{habsburg.name_suffix}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{habsburg.description}}</p>
          <table>
            <tr>
              <td>
                Geburtsdatum:
              </td>
              <td>
                {{habsburg.date_of_birth | date : 'd.M.yyyy'}}
              </td>
            </tr>
            <tr>
              <td>
                Sterbedatum:
              </td>
              <td>
                {{habsburg.date_of_death | date : 'd.M.yyyy'}}
              </td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>EDIT</button>
          <button mat-button>VIEW NOTES</button>
        </mat-card-actions>
      </td>
      <td>
      </td>
      <td width="350">
        <img mat-card-image src="{{habsburg.picture_url}}" alt="Photo of a Shiba Inu">
      </td>
    </tr>
  </table>
</mat-card>



