.habsburg-card {
  max-height: 500px;
}

p {

  overflow: auto;
  text-overflow: clip;
}

table.foobar {
  border-spacing: 15px;
}

.habsburg-icon {
  background-image: url('../../../src/assets/icon.png');
  background-size: cover;
}


