<mat-toolbar color="primary">
  <img src="assets/header.png" alt="StudyBurgs" style="height:30px">


  <button mat-button routerLink="family">Family</button>

  <button mat-button routerLink="details-user">User</button>

  <button mat-button routerLink="my-students" *ngIf="studyburgsUserService.hasNeededPermission('auth.view_group')">My Students</button>

  <button mat-button [routerLink]="'/add-habsburg/'" *ngIf="studyburgsUserService.hasNeededPermission('studyburgs.change_person')">
    Add Habsburg
  </button>

  <button mat-button [routerLink]="'/add-user/'" *ngIf="studyburgsUserService.hasNeededPermission('auth.change_permission')">
    Add User
  </button>

  <span class="spacer">
  </span>
  <app-progress *ngIf="isLoggedIn"></app-progress>
  <app-logout class="mat-button" *ngIf="isLoggedIn"></app-logout>
</mat-toolbar>
<router-outlet></router-outlet>
