<mat-card class="details-user-card">
  <table class="foobar">
    <tr>
      <td>
        <mat-card-header>
          <div mat-card-avatar class="habsburg-icon"></div>
          <mat-card-title>{{user?.username}}</mat-card-title>
          <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-progress></app-progress>
          <table>
            <tr>
              <td>
                Gejoined:
              </td>
              <td>
                {{user?.date_joined | date : 'd.M.yyyy'}}
              </td>
            </tr>
            <tr>
              <td>
                Group:
              </td>
              <td>
                {{user?.groupsReference}}
              </td>
            </tr>
            <tr>
              <td>
                <button mat-button [routerLink]="'/add-user/' + user?.pk">
                  Edit User
                </button>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </td>
    </tr>
  </table>
</mat-card>

<br>


<mat-tab-group mat-align-tabs="start" style="background: white">
  <ng-template ngFor let-person [ngForOf]="persons" let-i="index">
    <mat-tab label="{{person?.first_name}} {{person?.ordinal_number}}">
      <div>
        <button mat-button color="primary" [routerLink]="['/add-notes',{note_for_person: person?.pk}]">ADD NOTE</button>
      </div>
      <table>
        <tr>
          <ng-template ngFor let-habsburgsNote [ngForOf]="habsburgsNotes" let-e="index">
            <td VALIGN="top">
              <div *ngIf="habsburgsNote?.learned_habsburger == person?.pk">
                <mat-card class="notes-card" style="margin-left: 10px">
                  <mat-card-header>
                    <div mat-card-avatar class="notes-icon"></div>
                    <mat-card-title>
                      {{habsburgsNote?.notes?.title}}
                    </mat-card-title>
                    <mat-card-subtitle>
                      {{habsburgsNote?.notes?.creation_date_time | date : 'd.M.yyyy'}}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    {{habsburgsNote?.notes?.content}}
                  </mat-card-content>
                  <mat-card-actions>
                    <table>
                      <tr>
                        <td>
                          <button mat-button style="color: black"
                                  [routerLink]="['/add-notes/' + habsburgsNote?.notes?.pk ,{note_for_person: person?.pk}]">
                            Edit
                          </button>
                        </td>
                        <td>
                          <button mat-button style="color: darkred" (click)="deleteNote(habsburgsNote?.notes)"
                                  *ngIf="studyburgsUserService.hasNeededPermission('studyburgs.delete_notes')">Delete
                          </button>
                        </td>
                      </tr>
                    </table>
                  </mat-card-actions>
                </mat-card>
              </div>
            </td>
          </ng-template>
        </tr>
      </table>
    </mat-tab>
  </ng-template>
</mat-tab-group>
