.notes-card {
  margin-top: 20px;
  margin-right: 10px;
}
table.foobar {
  border-spacing: 15px;
}
.habsburg-icon {
  background-image: url('../../../src/assets/icon.png');
  background-size: cover;
}
.notes-icon {
  background-image: url('../../../src/assets/notes.png');
  background-size: 100% 100%;
}
