<div class="container">
  <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <mat-card style="max-width: 225px">
      <mat-card-content style="text-align: center">
        <p>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" name="username" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                   required>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button type="submit" color="yellow">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
