/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2ff
}

.ngx-org {
  &-image {
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    background-color: white;
    border-radius: 50%;
    padding: 0.25em;
  }


  &-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  &-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}


.ngx-org-standard {
  color: #4d4d4dff;
  background-color: white;
  width: 100px;
}

.ngx-org-learned {
  color: #4d4d4dff;
  background-color: #ccffaaff;
  width: 100px;
}

.mat-toolbar.mat-primary {
  background: #4d4d4dff;
  color: #fff;
}

mat-progress-bar .mat-progress-bar-buffer {
  background: #d9d5d5;
}

mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #ffd42aff;
}


.mat-button.mat-yellow {
  background-color: #ffd42aff;
}

.ngx-org {
  &-horizontal {
    padding: 1em 0;
  }

  &-vertical {
    padding: 0 1em;
  }

  &-border {
    border: 1px solid darkgrey;
  }

  &-box {
    padding: 0.5em 1em;
    border-radius: .2em;
    box-shadow: 0.05em 0.05em 0.2em 0.05em #0000002b;
  }

  &-connector {
    &-horizontal {
      width: 1em;
    }

    &-vertical {
      height: 1em;
    }
  }
}


